<table>
    <thead>
        <th>Revision Number</th>
        <th>Date</th>
        <th>Author</th>
        <th>Description</th>
        <th></th> <!-- add aria -->
    </thead>
    <tbody>
        {{ range where .Site.RegularPages "Type" "specification_version" }}
            {{ $date := .Params.version_date | time.AsTime | time.Format "January 02, 2006" }}
            <tr>
                {{ $has_details := false }}
                {{ if not .Params.redirect_url }}
                    {{ $has_details = true }}
                {{ end }}

                {{ $revision_number_text := .Params.version_number }}
                {{ if not $has_details }}
                    {{ $revision_number_text = printf "%s%s" .Params.version_number "*"  }}
                {{ end }}

                <td>{{ $revision_number_text }}</td>
                <td>{{ $date }}</td>
                <td>{{ .Params.author }}</td>
                <td>{{ .Params.version_description | markdownify }}</td>
                <td>
                    {{ if or $has_details .Params.specification_pdf }}
                        <ul class="list-unstyled">
                            {{ if $has_details }}
                                <li>
                                    <a href="{{ .RelPermalink }}">Version Details</a>
                                </li>
                            {{ end }}

                            {{ if .Params.specification_pdf }}
                                <li>
                                    <a href="{{ path.Join .RelPermalink .Params.specification_pdf }}">Download PDF</a>
                                </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </td>
            </tr>
        {{ end }}
    </tbody>
</table>

<p>* Versions prior to v. 3.0 are listed for informational purposes only.</p>