/*!
 * Copyright (c) 2019, 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.compatible-products {

    .compatible-products-item-card {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }

  .card-container {
    .glyph-highlight.left-align {
      right: calc(94% - 75px);
      left: inherit;
      top: -10px;
    }

    .glyph-highlight .glyph-container.text {
      font-size: @card-panel-bordered-h3-font-size;
      font-weight: @card-panel-bordered-h3-font-weight;
      margin-top: 0;
      a {
        color: @card-panel-bordered-h3-color;
      }
    }

    .card-panel.bordered {
      border-radius: @card-panel-bordered-border-radius;
      padding: @card-panel-bordered-padding;
      border: 1px solid #e1e1e1;
      box-shadow: none;
      margin-bottom: 5px;

      .panel-body {
        width: 100%;
      }
      .panel-footer {
        padding: 15px 0 0;
      }

      .tri-col {
        padding-left: 20px;
        column-count: 1;
        @media (min-width: @screen-sm-min) {
          column-count: 2;
          column-rule: 1px solid #e1e1e1;
          column-gap: 100px;
        }
        @media (min-width: @screen-md-min) {
          column-count: 3;
          column-rule: 1px solid #e1e1e1;
          column-gap: 100px;
        }
        li {
          margin-right: 40px;
          line-height: 1.8;
          list-style-position: inside;
        }
      }
      ul li {
        margin-bottom: 10px;
      }
      ul li a {
        &.brand-primary:hover,
        &.brand-primary:visited {
          color: @brand-primary;
        }
      }
      ul.card-arrow-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
          padding-left: 18px;
          position: relative;
        }
        li:not(.card-remove-arrow):before {
          font-family: FontAwesome;
          content: @fa-var-arrow-right;
          position: absolute;
          left: 0;
          top: 1px;
          color: @brand-secondary;
        }
      }
      p,
      li {
        a:not(.btn):not(.brand-primary) {
          color: @text-color;
          font-size: inherit;
          font-weight: inherit;
          text-transform: inherit;
          font-style: inherit;
          &:hover,
          &:visited {
            color: @text-color;
          }
        }
      }

      hr {
        border-top: 1px solid #e1e1e1;
        margin-top: 0;
      }
      &.alternate {
        background-color: #f1f1f1;
        padding: 40px;
        position: relative;
        overflow: visible;
        .big-text {
          font-size: 37px;
          margin-top: 0;
        }
        .subtitle {
          font-size: 27px;
        }
        .card-panel-btn {
          padding: 4px 20px 8px;

          .fa {
            position: relative;
            top: 2px;
            margin-right: 5px;
          }
        }
        .new-release {
          position: absolute;
          top: -15px;
          left: -15px;
          background-color: @brand-secondary;
          color: @white;
          font-weight: 700;
          border-radius: 100px;
          display: block;
          width: 60px;
          height: 60px;
          text-align: center;
          padding-top: 19px;
          transform: rotate(342deg);
        }
      }
    }
    .card-panel > .secondary-bg {
      background-color: @brand-primary;
      color: @white;
      h3,
      p {
        color: @white;
      }
      a {
        color: @brand-secondary;
        &:hover {
          color: @brand-secondary;
          text-decoration: underline;
        }
      }
    }
  }
}